:root {
    --cor-de-fundo: #eee;
    --cor-fundo-header: #fff;
    --cor-fundo-footer: #FF0000;
}

body {
    background-color: var(--cor-de-fundo);
    height: 100vh;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cabecalho {
    background-color: var(--cor-fundo-header);
    padding: 1em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-group {
    display: flex; 
    padding: 2em;
}

.barra-pesquisa {
    padding: 1em; 
    width: 500px;
    border-radius: 15px;
    border: 2px solid black;
}

.lista-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: #000;
    border: 2px solid pink;
}

.item-lista {
    cursor: pointer;
}

.item-lista a {
    text-decoration: none;
    color: #FFF;
}

.item-lista a:hover {
    text-decoration: underline;
    color: #FF0000;
}

.destaque {
    color: #FF0000;
}

.container-produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-produto {
    width: 370px;
    height: 430px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.img-produto {
    width: 350px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 1);
    border-radius: 15px;
}

.img-produto:hover {
    cursor: pointer;
    border: 2px solid #CECECE;
    width: 360px;
    height: 380px;
    transition: 0.3s;
}

.info-produto {
    text-align: center;
}

.preco-produto {
    font-weight: bold; 
    color: #FF0000;
}

.principal-container {
    padding: 1em;
    width: 78%;
}

/* CARRINHO DE COMPRAS */

.carrinho {
    padding: 1em;
    margin-top: 10px;
    width: 330px;
}

.header-carrinho {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.lista-carrinho {
    line-height: 18px;
    font-size: 14px;
}

#valor-total {
    font-size: 20px; 
    margin-top: 10px;
}

#btn-comprar {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: red;
    color: white;
    width: 90%; 
    margin-top: 5px;
}

.rodape {
    background-color: var(--cor-fundo-footer);
    padding: 30px;
    color: white;
    text-align: center;
  }
  
  .redes-sociais {
    padding: 5px;
    display: inline-block;
  }
  
  .item-link {
    margin: 5px;
    text-decoration: none;
  }
  
  .icon-sm {
    margin: 5px;
    width: 40px;
  }
  
  .icon-sm:hover {
    width: 45px;
    box-shadow: 5px 5px black;
    transition: 0.5s;
    border-radius: 10px;
  }
  
  .info-rodape {
    padding: 5px;
    font-size: 14px;
  }